.container {
  display: grid;
  width: 1000px;
  margin: 30px auto;
  grid-template-rows: [header-start] 1fr [header-end box-start] 2fr [box-end main-start] 5fr [main-end footer-start] 1fr [footer-end];
  grid-template-columns: repeat(3, [col-start] 3fr [col-end]) 2fr [grid-end];
  grid-gap: 30px;

  & > * {
    background-color: brown;
    padding: 20px;
    color: #fff;
    font-size: 30px;
  }
}

.header {
  grid-column: col-start 1 / grid-end;
}

.sidebar {
  grid-column: 4 / 5;
  grid-row: box-start / main-end;
}

.main-content {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}
