.container {
  width: 90%;
  margin: 30px auto;
  display: grid;
  background-color: #ddd;

  //min-max-content
  //   grid-template-columns: max-content 1fr 1fr min-content;
  //   grid-template-rows: repeat(2, min-content);

  //minmax
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: minmax(200px, 50%) repeat(3, 1fr);

  .item {
    padding: 10px;
    color: white;
    font-size: 30px;

    &--1 {
      background-color: orangered;
    }
    &--2 {
      background-color: yellowgreen;
    }
    &--3 {
      background-color: blueviolet;
    }
    &--4 {
      background-color: palevioletred;
    }
    &--5 {
      background-color: royalblue;
    }
    &--6 {
      background-color: goldenrod;
    }
    &--7 {
      background-color: crimson;
    }
    &--8 {
      background-color: darkslategray;
    }
  }
}
